{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

    <main>
        <div class="container">
            <h1>
                Блог
            </h1>
        </div>
    </main>

{% endblock %}